<div class="col-12 text-center">
  <% if current_user.present? %>
    <%= link_to 'Cars list', cars_path, class: 'btn btn-success', style: "margin: 20px;" %>    
  <% else %>
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-success', style: "margin: 20px;" %>
  <% end %>
</div>
 
<div class="row">
  <div class="col-10 d-flex justify-content-center">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="col-12">
    <div class="col-12">
      <h1>Tenancies</h1>
    </div>

    <div class="col-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Check in</th>
            <th scope="col">Check out</th>
            <th scope="col">Tenant cpf</th>
            <th scope="col">Car</th>
            <th scope="col" colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @tenancies.each do |tenancy| %>
            <tr>
              <th scope="row"><%= tenancy.id %></th>
             <td><%= tenancy.checkin %></td>
            <td><%= tenancy.checkout %></td>
            <td><%= tenancy.tenant_cpf %></td>
            <td><%= tenancy.car.model %></td>
            <td><%= link_to 'Show', tenancy %></td>
            <td><%= link_to 'Edit', edit_tenancy_path(tenancy) %></td>
            <td><%= link_to 'Destroy', tenancy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-12">
      <%= link_to 'New rent', new_tenancy_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

